@import '../../assets/styles/global.scss';

.spacingbutton
{
    padding-right:0px;
    padding-left:90px;
}


.form-control1 {
    border: none;
    background: transparent;
    border-bottom: 2px solid #d6d6d6;
    border-radius: 0;
    color:#000000;
    flex-basis: 120%;
    flex-grow: inherit;
    font-size: 14px;
    margin-right: 200px;
  }