@import "../../assets/styles/global.scss";

.header {
  height: 75px;
  background-color: $white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 99;
  box-shadow: 0px 0px 2px #00000029;

  .logo{
    cursor: pointer;
    background-size: contain;
  }

  .branding {
    display: flex;
    padding-left: 30px;
    flex-basis: 70%;
    img {
      width: 200px;
      object-fit: contain;
    }
    @media (min-width: $xl) {
      flex-basis: 75%;
    }

    @media screen and (max-width: 768px) {
      padding-left: 10px;
      flex-basis: 75%;
      justify-content: space-between;
      img {
        width: 80%;
      }
    }

    .mobile-menu {
      display: none;
      @media screen and (max-width: 768px) {
        display: flex;
        font-size: 30px;
        font-weight: 400;
        margin-right: 17px;
        align-items: center;
      }
    }
    h1 {
      font-size: 32px;
      letter-spacing: 3px;
      font-weight: bold;
      margin: 0;

      &:first-child {
        color: $primaryBlue;
      }

      &:nth-child {
        color: $primaryBlue;
      }
    }
  }

  .actions {
    //flex-basis: 35%;
    //display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    bottom: 3rem;
    //background: transparent linear-gradient(246deg, $primaryBlue 0%, $skyBlue 100%) 0% 0% no-repeat padding-box;
    border-radius: 0px 0px 0px 100px;
    flex: 1;
    height: 80px;
   

    .search-form {
      width: 350px;
      position: relative;
      top: 70px;
      right: 24.5rem;
      //left: unset;
      display: block;
      
      

      @media screen and (max-width: 768px) {
        display: none;
      }
      img {
        position: relative;
        right: -20rem;
        bottom: 30px;
        width: 20px;
        opacity: 2;
      }
      .search-field {
        height: 35px;
        background: #ffffff 0% 0% no-repeat padding-box;
        box-shadow: 0px 0px 2px #00000065;
        border-radius: 7px;
        border-width: 1.5px;
        border-color: #0093E9;
        font-size: 12px;
        &::placeholder{
          color: #0093E9;
        }
        
        // opacity: 0.75;
      }
      
    }

    .user-info {
      display: flex;
      align-items: center;
      flex: 1;
      justify-content: flex-end;
      padding-right: 30px;
      color: #0B65C1;
      img {
        max-width: 100%;
      }
      .notifications {
        position: absolute;
        right: 31rem;
        .bellicon-wrap {
          position: relative;
          cursor: pointer;
          .badge {
            position: absolute;
            top: -10px;
            left: 10px;
            border-radius: 100%;
          }
        }
        .slider-menu {
          top: .9rem;
          right: 0rem !important;

          .slider-item {
            white-space: pre-wrap;
            min-width: 200px;
            &:first-child {
              border-top: none;
            }
          }
        }
        @media screen and (max-width: 768px){
          display: none;
        }
        margin-right: 1.5rem;
        img {
          width: 20px;
            
      }
    }
      .divider {
        // margin-right: 1rem;
        position:relative;
        left: -2.5rem;
        bottom:1px;
        // border: 1px solid #fff;
        border: .1px solid #D9D9D9;
        // height: 35px;
        height: 45px;
        @media screen and (max-width: 768px){
          display: none;
        }
      }
      .location{
        position: relative;
        right:1rem;
        bottom:.4rem;
      }
      .userName {
        max-width: 10vw;
        margin-right: 1rem;
        
        .uname {
          font-size: 10px;
          text-align: right;
          margin: 1px;
        }

        .cname {
          font-size: 14px;
          text-align: right;
          font-weight: 700;
          margin: 0;
        }
        @media screen and (max-width: 768px){
          display: none;
        }

        .custom-dropdown {
          flex-basis: 100%;
          display: flex;
          outline: none;
          position: relative;
          small {
            color: $a8Grey;
          }
          
          .btn-custom-dropdown1 {
            border: none;
            display: flex;
            justify-content: space-between;
            color:#0B65C1;
            flex-basis: 100%;
            outline: none;
            align-items: center;
            font-size: 14px;
            background: transparent;
            text-align: left;
            font-weight: 700;
            &.active {
              color: $primaryBlue;
            }
            .textNeg{
              margin-top: -1.15rem;
            }
          }
          .dropdownImg{
            margin-left: auto;
            width:13px;
            margin-right: auto;
          }
          .dropdown-menu {
            height: max-content;
            width: max-content;
            overflow: auto;
            box-shadow: 0px 3px 10px $grey;
            border-radius: 8px;
            border: none;
            padding: 0.5rem;
            .dropdown-item {
              padding: 0;
              clear: both;
              font-size: 14px;
              cursor: pointer;
            }
            hr {
              border-width: 0.5px;
              margin-top: 5px;
              margin-bottom: 5px;
            }
          }
        }
        
      }
      .cname1 {
        font-size: 14px;
        text-align: left;
        font-weight: 700;
        margin: 0;
        cursor: pointer;
      }
      @media screen and (max-width: 768px){
        display: none;
      }
    

      .userPic {
        margin-right: 0.5rem;
        img {
          width: 40px;
          height:40px;
          cursor: pointer;
        }
      }
      .userActions {
        img {
          width: 13px;
          cursor: pointer;
        }
      }

      @media screen and (max-width: 768px) {
        padding-right: 10px;
      }
    }
  }
}

.slider-menu {
  //display: flex;
  //flex-direction: column;
  top: 5.6rem;
  right: 1rem !important;
  //left: unset;
  max-width: 10rem;
  height: 6rem;
  text-align: center;
  position: absolute;
  //z-index: 1000;
  background-color: #fff;
  background-clip: padding-box;
  //border: 1px solid rgba(0, 0, 0, 0.15);
  transform: translate3d(0px, 38px, 0px);
  will-change: transform;
  box-shadow: 0px 3px 10px $grey;
  border-radius:  15px;
  padding: 1rem;

  @media screen and (max-width: 768px) {
    right: 0 !important;
  }
  
  .slider-item {
    overflow: hidden;
    border-top: 1px solid #d6d6d6;
    width: 100%;
    padding: 10px 0;
    font-weight: 400;
    color: #707070;
    font-size: 12px;
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;

    @media (min-width: $xl) {
      margin: 0.5rem 0;
      padding: 0.25rem 1.5rem;
      font-size: 18px;
    }
  }

  .slider-item-text {
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
    }

    p {
      font-weight: bold;
      margin-bottom: 3px;
    }
  }
}
.slider-menu1 {
  //display: flex;
  //flex-direction: column;
  top: 5.6rem;
  right: 15rem !important;
  //left: unset;
  width: 18rem;
  text-align: center;
  position: absolute;
  //z-index: 1000;
  background-color: #fff;
  background-clip: padding-box;
  //border: 1px solid rgba(0, 0, 0, 0.15);
  transform: translate3d(0px, 38px, 0px);
  will-change: transform;
  box-shadow: 0px 3px 10px $grey;
  border-radius: 15px 15px 15px 15px;
  padding: 1rem;

  @media screen and (max-width: 768px) {
    right: 0 !important;
  }
  
  .slider-item1 {
    overflow: hidden;
    border-bottom: 1px solid #d6d6d6;
    width: 100%;
    padding: 10px 0;
    font-weight: 400;
    color: #707070;
    font-size: 10px;
    text-align: center;
    white-space: nowrap;
    background-color: transparent;
    cursor: pointer;
    text-decoration: none;

    @media (min-width: $xl) {
      margin: 0.5rem 0;
      padding: 0.25rem 1.5rem;
      font-size: 18px;
    }
  }

  .slider-item-text {
    display: none;
    @media screen and (max-width: 768px) {
      display: block;
    }

    p {
      font-weight: bold;
      margin-bottom: 3px;
    }
  }}

  