@import '../../assets/styles/global.scss';

.shipment {
  position: relative;
  top:-22px;
    padding-right: 20px;
    padding-left: 55px;
    overflow: hidden;
    @media (max-width: $md) {
      padding-right: 10px;
      padding-left: 10px;
    }

    .full-width-ribben {
        position: absolute;
        left: -110px;
        right: -25px;
        background-color: #eaeaea;
        .filter {
          margin-left: 9rem;
          margin-right: 3rem;
        }
      }

      .ribben-space {
        margin-top: 6rem;
        .address{
          word-wrap: break-word;
          word-break: break-word
        }
      }

    .panel {
        box-shadow: 0px 3px 10px #e4e4e4;
        border-radius: 10px;
        background-color: $white;
        padding: 15px 15px 5px 15px;
        margin-top: 5px;
        display: flex;
        align-items: flex-start;

        & > .d-flex {
          margin-top: 15px;
        }

        @media screen and (max-width: 768px) {
          border-right: none;
          justify-content: flex-start;
        }

        @media (max-width: $lg) {
          &:nth-child(2) {
            margin-right: 0;
          }
        }

        &:last-child {
          margin-right: 0;
        }

        .picture {
          width: 40px;
          height: 40px;
          box-shadow: 0px 3px 6px #00000029;
          border-radius: 50%;
          justify-content: center;
          align-items: center;
          margin-right: 12px;
          display: flex;


          @media (min-width: $xl) {
            width: 60px;
            height: 60px;
          }

          img {
            width: 30px;
            height: 30px;
          }

          &.truck-bg {
            background:  #e8f4f8;
          }

          &.sent-bg {
            background: #fff2e5;
          }

          &.recived-bg {
            background: #d4ebf2;

          }
          &.inbound-alert-bg{
            background-color: #e0ecf8;
          }

          &.outbound-alert-bg{
            background-color: #DFF1F2;
          }
          &.transit-bg {
            background: $C0Blue;
          }
        

       img{
            width: 20px;
            height: 27px;

      &.inbound-alert-bg{
            background-color: #0A69C5;
          }

          &.outbound-alert-bg{
            background-color: #35BFCC96;
          }
    }
          &.transit-bg {
            background: $C0Blue;
          }
        }

        .tab-container {
          display: flex;
          justify-content: space-between;
          .tab-item {
            font-size: 8px;
            color: #707070;
            margin-right: 3px;
            cursor: pointer;
          }

          .tab-item:hover {
            border-bottom: 2px solid black;
            color:      rgb(0,0,0);
            font-size: 10px;
          }
        }
        .title {
          font-size: 14px;
          position: relative;
          top:-5px;
          line-height: 0px;
          // font-weight: bold;
          color: #707070;
          margin-bottom: -4px;
          margin-left: 12px;
          @media (min-width: $xl) {
            font-size: 14px;
          }
        }

        .count {
          margin-left: 12px;
          font-size: 35px;
          margin-top: 12px;
          font-weight: bold;
        }

        .dayStatus {
          font-size: 9px;
          align-self: flex-end;
          color: $black;
        }

        &:after {
          border: 1px solid $lightGrey;
          height: 50px;
        }

        .truck-text {
        color: #2BA3AE;;
        }

        .sent-text {
          color: #FA7923;
        }

        .recived-text {
          color: #0093E9;
        }

        .outbound-text{
          color: #2BA3AE;
        }

        .inbound-text{
          color: #0159EA;
        }

        .transit-text {
          color: $deepBlue;
        }
      }
}
