@import '../../assets/styles/global.scss';


.addproduct {
  position:relative;
  top:-22px;
  padding-right: 1.5rem;
  padding-left: 3.5rem;
    @media (max-width: $md) {
      padding-right: 10px;
      padding-left: 10px;
    }

    
    .product{
      background: transparent linear-gradient(90deg, #FA7923 0%, #FFAB1D 100%) 0% 0% no-repeat padding-box;
    }


    .custom-dropdown .btn-custom-dropdown{
      font-size:14px;
      align-items: center;
      padding-left: 0;
      @media (min-width: $xl) {
        font-size:15px;
      }
    }
    .browse{
      display: flex;
      align-items: center;
    }
    .upload{
      height:200px;
      width:350px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border: 1px dashed #707070;
      border-radius: 8px;

      .select{
        display: none;
      }
  
    }
    .form-group,
    .input-group {
      display: flex;
      justify-content: space-between;
      align-items: center;
  
      label {
        color: #707070;
        text-align: center;
        font-size: 14px;
        margin-bottom:0px;
       
    }
   .date{
         border:none;
         background: none;
       }
      .form-control {
        border: none;
        background: transparent;
        border-bottom: 2px solid #d6d6d6;
        border-radius: 0;
        color:#000000;
        flex-basis: 55%;
        flex-grow: inherit;
        font-size: 14px;
     
      }
       
  
      @media (min-width: $xl) {
        label {
          font-size: 15px;
          flex-basis: 100%;
          flex-grow: inherit;
          text-align: left;
          margin-bottom:0px;
        } 
  
    
        .form-control {
          border: none;
          background: transparent;
          border-bottom: 2px solid #d6d6d6;
          border-radius: 0;
          color: $black;
          flex-basis: 100%;
          flex-grow: inherit;
          font-size: 15px;
         
          
        }
  
      }
    }
   
    .input-group {
      position: relative;
      margin-bottom: 1rem;
  
      
  
      .input-group-append {
        position: absolute;
        right: 0;
        cursor: pointer;
      }
    }
  
   
  

}