@import '../../assets/styles/global.scss';
.tracing {
    padding-right: 4rem;
    padding-left: 5.5rem;
    @media (max-width: $md) {
      padding-right: 10px;
      padding-left: 10px;
    }
    
.heading {
    text-align: left;
    font: normal bold 15px/7.5px Arial;
    letter-spacing: 1px;
    color: #01CEEA;
    }

    .highlight{
      border-style: solid;
      border-color: #01CEEA;
    }

  .commonpanle{
    box-shadow: 0px 3px 10px #00000029;
    border-radius: 10px;
    padding: 17px 10px 10px 10px;
    background: #FFFFFF 0% 0% no-repeat padding-box;
  }

  .enlargeTemperature{
    height: 30px;
    width: 70px;
    border: 1px solid #FF8C00;
    border-radius: 7px;
    font-size: 10px;
    padding: 2px 2px;
    color:#FF8C00;
  }
  
.panel {
  .elemens{
    margin-bottom: 0;
  }
  .potext{
      font: 13px/3px $roboto ;
  }
  .potexttable{
    font: 11px/13px $roboto ;
    padding-right: 20px
}
  .poheads{
      color : black;
      font-weight: bold;

}
   ul {
      padding: 0;
      color : black;

      .txn{
         font: 13px/3px $roboto ;
         white-space: nowrap;
         overflow:hidden;
         text-overflow: ellipsis;
         width : 160px;
        @media (max-width: 1346px) {
          font-size: 11px;
          width : 110px;
        }
      }
      .vendor{
        font: 12px/3px $roboto ;
      
      }
    li { 
      font: 13px/3px $roboto ;
      text-align: left;
      letter-spacing: 0px;
      padding: 0.5rem;
      list-style: none;
    }
  }
  }
   .dot {
    height: 8px;
    width: 8px;
    border-radius: 50%;
    display: inline-block;
  }
  .emp{
    margin-bottom:19px;
  }
  
  .big-dot {
    height: 11px;
    width: 11px;
    border-radius: 50%;
    display: inline-block;
  }
  
  .arrow{
    width: 25px;
    height: 25px;
    box-shadow: 0px 3px 6px #00000029;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    display: flex;
    background:white;
   cursor: pointer;
    }

    .picture {
      width: 35px;
      height: 35px;
      box-shadow: 0px 3px 6px #00000029;
      border-radius: 50%;
      justify-content: center;
      align-items: center;
      margin-right: 13px;
      display: flex;
      background: #d4ebf2;
    }

  .chain{
    font: 13px/20px $roboto ;
  }
  .series{
   background: #D6F2F5 0% 0% no-repeat padding-box;

  }
  .chainpanle{
    box-shadow: 0px 3px 10px #00000029;
    border-radius: 8px;
    padding: 12px 10px 10px 12px;
  

  }
  .chainhead{
    font: 10px/10px $roboto ;
  }

  .info{
    font: 10px/15px $roboto ;
  }

.dir{
 height:30px;
}
  

  .color{
    text-align: left;
    font: normal bold 12px/5px Arial;
    letter-spacing: 1px;
    color: #01CEEA;
  }

 
}
  

  .temperature{
   
      #chart-1{
      
        height:20px;
        
      }
      
  }
  
